
$website-width: 1280px;

.container {
  max-width: $website-width;
  // padding: 0 1.5rem;
  padding: 0;

  margin: auto;
  
  overflow: hidden;
}


@media (max-width: 575px) {
  .container {
    max-width: unset;
  }
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1240px;
  }
}