    <!-- education -->
    <section id="education" class="bg-primary progress right">
      <div class="title">
        <div class="about">
          <h2>Education</h2>
        </div>
      </div>

      <div class="education-outline">
        <div class="item">
          <h2>
            College
          </h2>
          <ul class="course-list">
            <li>
              <h3>Access to Humanties (Merit)</h3>
              <p>September 2009 — JUNE 2010 </p>
            </li>
            <li>
              <h3>GCSE Mathematics and English (C*)</h3>
              <p>September 2008 — JUNE 2009</p>
            </li>
          </ul>
        </div>
        <div class="item">
          <h2>
            Higher Education
          </h2>
          <ul class="course-list">
            <li>
              <h3>BSc Psychology (2:1) </h3>
              <p>SEPTEMBER 2012 — April 2014</p>
            </li>
            <li>
              <h3>HND Applied Psychology (Merit)</h3>
              <p>September 2010 — May 2012</p>
            </li>

          </ul>
        </div>
        <div class="item">
          <h2>
            Online
          </h2>
          <ul class="course-list">
            <li>
              <h3>Full-Stack Web Development with React</h3>
              <p>July 2020 — August 2020</p>
            </li>
            <li>
              <h3>Web Applications for Everybody</h3>
              <p>May 2020 — JUNE 2020</p>
            </li>
            <li>
              <h3>Google IT Automation with Python Specialization</h3>
              <p>MARCH 2020 — JUNE 2020</p>
            </li>
          </ul>
        </div>
      </div>
      <a href="#work-experience" class="btn slide mid">
        <i class="fas fa-arrow-down"></i>
      </a>
    </section>