    <!-- experience outline page-->
    <section id="experience" class="bg-secondary progress left">
      <div class="title left">
        <div class="about">
          <h2>Daniel Johnson</h2>
          <p class="side-text left">React Developer</p>
        </div>
      </div>

      <div class="extra">
        <div class="experience-outline">
          <div class="left">
            <div class="inner">
              <img class="profile" src="./img/profilebest.jpg" alt="">
              <img class="github-stats"
                src="https://github-readme-stats.vercel.app/api/top-langs/?username=danielphilipjohnson&layout=compact"
                alt="">
              <h2>Desktop Environment</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/OS-Kubuntu-green?logo=linux&logoColor=white&color=0079C1&style=for-the-badge"
                  alt="Kubuntu">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Bash-v0.0.0-green?logo=gnu-bash&color=282F34&style=for-the-badge"
                  alt="GNU BASH">
                <img class="small-icon"
                  src="https://img.shields.io/badge/KDE-v0.0.0-green?logo=kde&color=1D99F3&style=for-the-badge"
                  alt="KDE">
              </p>
              <h2>Coding Editors</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/VS%20Code-v1.47.3-green?logo=visual-studio-code&color=016EC5&style=for-the-badge"
                  alt="VS
                  CODE">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Vim-v8.2-green?logo=vim&color=019733&style=for-the-badge"
                  alt="Vim">
              </p>
             
            </div>
            
            <div class="txt">
              <h2>
                Brief Description
              </h2>
              <p>In 2017, I started my journey with web development, enrolling
                first with Code Academy, then later progressed to udacity for
                Front-End and Full-stack Developer. These led me to pursue a
                career in web development because I enjoyed it. I continued to
                further my ability enrolling in Free Code Camp, which included
                building an extensive portfolio containing responsive design,
                Front-end libraries, Back-end, Data visualisation, Javascript
                Algorithms and APIs and microservices. While taking this course,
                I grew to enjoy using React JS over other JS frameworks as I
                built a
                markdown viewer and a drum machine. After completing the code
                camp; I started to build a portfolio on Github demonstrating my
                skills and adaptability.
              </p>
              <h2>Frontend Skills</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/HTML5-v0.0.0-green?logo=HTML5&color=E34F26&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/CSS3-v0.0.0-green?logo=CSS3&color=1572B6&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Sass-v0.0.0-green?logo=sass&color=CC6699&style=for-the-badge"
                  alt="">
              </p>
              <h2> CSS frameworks</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/Bulma-v0.0.0-green?logo=bulma&color=00D1B2&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Bootstrap-v0.0.0-green?logo=bootstrap&color=563D7C&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Tailwind%20CSS-v0.0.0-green?logo=Tailwind-CSS&color=38B2AC&style=for-the-badge"
                  alt="">
              </p>
              <h2>Testing</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/Cypress-v4.12.1-green?logo=cypress&color=47474A&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Jest-v26.2.2-green?logo=jest&color=C21325&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Mocha-v0.0.0-green?logo=mocha&color=8D6748&style=for-the-badge"
                  alt="">
              </p>
              <h2>Backend</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/PHP-v0.0.0-green?logo=PHP&color=777BB4&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Django-v0.0.0-green?logo=Django&color=092E20&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/NodeJS-v0.0.0-green?logo=node.js&color=84CE24&style=for-the-badge"
                  alt="">
              </p>
              <h2>Storage</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/MongoDB-v0.0.0-green?logo=mongodb&color=10AA50&style=for-the-badge"
                  alt="">

                <img class="small-icon"
                  src="https://img.shields.io/badge/MySQL-v0.0.0-green?logo=mysql&color=4479A1&style=for-the-badge"
                  alt="">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Redis-v0.0.0-green?logo=redis&color=DC382D&style=for-the-badge"
                  alt="">

              </p>
              <h2>Languages</h2>
              <p>
                <img class="small-icon"
                  src="https://img.shields.io/badge/Python-v3.8.0-green?logo=python&color=3776AB&style=for-the-badge"
                  alt="Python">
                <img class="small-icon"
                  src="https://img.shields.io/badge/Javascript-v11-green?logo=javascript&color=3776AB&style=for-the-badge"
                  alt="Javascript">

              </p>
            </div>

          </div>
          <div class="right">
            <div class="logos big">
              <img class="" src="./logos/Redux1.png" alt="">
              <img class="" src="./logos/react-router.png" alt="">
              <img class="" src="./logos/nextjs (1).png" alt="">
              <img class="" src="./logos/yarn1.png" alt="">

            </div>
            <div class="logos">
              <img src="./logos/js.png" alt="">
              <img src="./logos/react.svg" alt="">
              <img src="./logos/GraphQL.png" alt="">
              <img src="./logos/gatsby.png" alt="">
              <img src="./logos/apollo.png" alt="">
            </div>
          </div>
        </div>
      </div>
      <a href="#education" class="btn slide mid">
        <i class="fas fa-arrow-down"></i>
      </a>
    </section>
