   <!-- Skills and abilites -->
   <section id="skills" class="bg-primary progress right">
    <div class="container">
      <div class="items">
        <ul>
          <li class="icon-item">
            <i class="far fa-lightbulb"></i>
            <p>
              Integrity
            </p>
          </li>
          <li class="icon-item">
            <i class="fas fa-project-diagram"></i>
            <p>Endurance</p>
          </li>
          <li class="icon-item">
            <i class="fas fa-chart-line"></i>
            <p>Competitive</p>
          </li>
          <li class="icon-item">
            <i class="fas fa-cogs"></i>
            <p>Driven</p>
          </li>
        </ul>
      </div>
      <div class="header">
        <h1>Skills and abilities</h1>
       
      </div>
    </div> <a href="#project-1" class="btn slide mid">
      <i class="fas fa-arrow-down"></i>
    </a>
  </section>