<!-- work-experience -->
<section id="work-experience" class="bg-secondary progress">
  <div class="container">
    <div class="header">
      <h1>Personal Projects</h1>
      <div class="progress">
        <div class="bottom">
          <a href="#skills" class="btn slide">
            <i class="fas fa-arrow-down"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="items">
      <div class="item">
        <h2><div class="circle"></div>Hamburger Project
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Quaerat, esse, suscipit quisquam non tempora consectetur,
          explicabo natus enim ipsa temporibus nisi necessitatibus quae
          magnam atque? Incidunt necessitatibus culpa in
          consectetur?Consequuntur in officiis dicta, totam natus ab
          perferendis at deserunt error quis laudantium eum culpa, minima,
          saepe explicabo quibusdam. Cumque dolore provident fugit
          recusandae impedit hic? Magnam voluptatem voluptas dicta. </p>
      </div>
      <div class="item">
        <h2><div class="circle"></div>NewsGrid
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Quaerat, esse, suscipit quisquam non tempora consectetur,
          explicabo natus enim ipsa temporibus nisi necessitatibus quae
          magnam atque? Incidunt necessitatibus culpa in
          consectetur?Consequuntur in officiis dicta, totam natus ab
          perferendis at deserunt error quis laudantium eum culpa, minima,
          saepe explicabo quibusdam. Cumque dolore provident fugit
          recusandae impedit hic? Magnam voluptatem voluptas dicta. </p>
      </div>
      <div class="item">
        <h2><div class="circle"></div>Sass Portfolio
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Quaerat, esse, suscipit quisquam non tempora consectetur,
          explicabo natus enim ipsa temporibus nisi necessitatibus quae
          magnam atque? Incidunt necessitatibus culpa in
          consectetur?Consequuntur in officiis dicta, totam natus ab
          perferendis at deserunt error quis laudantium eum culpa, minima,
          saepe explicabo quibusdam. Cumque dolore provident fugit
          recusandae impedit hic? Magnam voluptatem voluptas dicta. </p>
      </div>
    </div>
   
  </div>
</section>