body {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 50em;
}

img {
    width: 100%
}

article {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 50em;
    border-bottom: 1px solid #ddd
}

@media screen and (max-width:250px) {
    img {
        width: 100vw
    }
}

