.subheader__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #242f41;
  font-family: arial, san-serif;
}

.subheader_links {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
}
.subheader__hamburger {
  display: flex;
  align-items: center;
  align-content: center;
}
.subheader__hamburger span {
  padding-left: 0.5rem;
  font-weight: bold;
}
.subheader_links li {
  font-size: 0.85rem;
  color: #fff;
  padding: 0 0.5rem;
}
