.post-btn-container {
  border: $post-border;
  border-radius: 50px;
  text-align: center;
  padding: 1.2rem 1.5rem!important;
}
.post-row {
  @extend .row;
  background-color: #fff;
  border-top: $card-border;
  padding: 1rem 0;
  margin: 0px;
}

.image-grid  {
  padding: 0px;
  img {
    padding: 0 0.25rem 0.25rem 0;
  }
  
}


