/* EXPERIENCE SECTION */
@import "./variables";

.container-experience {
  display: flex;
  // height: 100%;

  .left {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding: 0 0 0 2rem;

    .about-description {

      // padding: 1rem;
      width: 70%;

    }
  }

  .right {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

  .small-icon {
    width: 145px;
    height: auto;
    margin-bottom:0.5rem;
  }
}

/* might need to make own style */
