$mobile: 526px;
$iphone-5: 319px;


/*
  Styles that apply both to a tablet at 900px and an iphone 5 320px.

*/
@media only screen and(max-width: 1200px) and(min-width: $iphone-5) {

  p {
    font-size: 1rem;
  }

  .side-text {
    display: none;
  }
  .fas.fa-arrow-down {
    display: none;
  }
  .badge-contact-md img {
    width: 75px;
  }

  .header h2 {
    font-size: 3.75rem;
  }


  .skills {
    .header h2 {
      font-size: 2.75rem;
    }
  }

  /* title page */
  .about {
    h1 {
      font-size: 4.5rem;
    }
    h2 {
      font-size: 4.25rem;
      padding: 0;
    }

  }


  /* experience page */
  section.progress.left {
    padding: 0;
  }


  section#experience {
    height: unset;

  }

  /* check other titles */
  section > .title {
    height: unset;
  }


  /* education section */
  .education-item {
    .course-list .course-item {
      h3 {
        font-size: 1.75rem;
      }
      p {
        font-size: 1.25rem;
      }
    }

    .title {
      font-size: 2.5rem;
    }
  }


  section {
    &#experience {
      /* experience page container */
      .container-experience {
        height: unset;
        flex-wrap: wrap;
        .list-tools .item {
          width: 100%;
        }
        .left {
          width: 100%;
          padding: 0;
          flex-wrap: wrap;
          .stats {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            h2,
            p {
              padding: 1rem;
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
            }
            .small-icon {
              margin-bottom: 0.5rem;
              margin-right: 0.5rem;
              width: 216px;
              height: auto;
            }
           
          }
          .about-description {
            width: 100%;
            h2,
            p {
              display: flex;
              justify-content: center;
              flex-wrap: wrap;
            }
            /* refactor */
            .small-icon {
              margin-bottom: 0.5rem;
              margin-right: 0.5rem;
            }
          }
        }
        .right {
          width: 100%;
          justify-content: center;
          flex-wrap: wrap;
          .logos-container {
            align-items: center;
            .logo {
              width: 100px;
              padding: 0.25rem;
            }
          }
        }
      }
    }
    &#education {
      height: unset;
      > .title {
        padding: 0;
      }
      .container-education {
        padding: 0;
        flex-direction: column;
        .education-item {
          padding: 1rem 1rem 0;
          width: 100%;
        }
      }
    }
    &#work-experience {
      height: unset;
      .container {
        height: unset;
        flex-direction: column;
        .header {
          height: unset;
          width: 100%;
          h1 {
            text-align: center;
            font-size: 2.75rem;
          }
        }
        .work-items {
          width: 100%;
          padding: 1rem;
          .item {
            padding: 0 0 0 0.5rem;
            margin-bottom: 2rem;
            h2 {
              margin: 0 0 1rem;
              font-size: 2.5rem;
              .circle {
                display: none;
              }
            }
            p {
              font-size: 1.25rem;
            }

          }
        }
      }
    }
    &#skills {
      .container {
        &.skills {
          height: unset;
          flex-wrap: wrap;
          flex-direction: column-reverse;
          .header {
            width: 100%;
            text-align: center;
          }
          .skill-items {
            width: 100%;
            justify-content: center;
            ul {
              padding: 0;
              .icon-item {
                padding: 0 0 1rem 1rem;
                display: flex;
                align-items: flex-start;
                i.fa-lightbulb {
                  font-size: 1.5rem;
                  padding: 1rem 1.25rem;
                }
                i.fa-project-diagram {
                  font-size: 1.25rem;
                  padding: 1.15rem 1rem;
                }
                i.fas.fa-chart-line {
                  font-size: 1.5rem;
                  padding: 1rem;
                }
                i.fas.fa-cogs {
                  font-size: 1.25rem;
                  padding: 1.15rem 1rem;
                }
                p {
                  font-size: 2.5rem;
                }
              }
            }
          }
        }
      }
    }
    &#project-1,
    &#project-2,
    &#project-3 {
      height: unset;

      .container {
        height: unset;
        flex-wrap: wrap;
        .header {
          width: 100%;
          padding: 1.65rem;

          h1 {
            height: unset;
            margin-bottom: 1.5rem;
          }
          .badges {
            flex-wrap: wrap;
            justify-content: center;
            .logo {
              padding: 0;
              margin: 0;
            }

          }
        }

        .portfolio {
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          align-content: center;

          width: 100%;

          &.left {
            width: 100%;
            margin-top: 0;
          }
          .card {
            padding: 1rem;
          }

        }
      }
    }
    &#project-2 {
      .container {
        flex-direction: column-reverse;
      }
    }

    &#project-4 {
      .container {
        flex-direction: column-reverse;
      }
    }
    &#project-4,
    &#project-5 {
      height: unset;
      .container {
        height: unset;
        flex-wrap: wrap;
        .project-images {
          width: 100%;
          .image {
            width: 100%;
            span {
              &.img-1,
              &.img-2,
              &.img-3,
              &.img-4 {
                left: 0;
                bottom: 116px;
              }
            }
          }
        }
        .header {
          width: 100%;
          height: unset;
          padding: 1rem;
          text-align: center;
          align-items: center;
          h2 {
            font-size: 3.5rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    &#contact {
      height: unset;
      .container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        height: unset;
        .card {
          &.contact {
            height: unset;
            margin: 0;

            .card.inner {
              width: 85%;
              margin: 0.5rem auto 1rem;

              .social-items {
                padding: 0.5rem;
                ul {

                  width: 100%;
                  p {
                    font-size: 1.25rem;
                  }
                }

              }
            }
            .docker {
              width: 80%;
              height: 11.65%;
              .item {
                &:nth-child(even) {
                  display: none;
                }
              }
            }
          }

        }
        .header {
          width: 100%;
          h2 {
            height: 100%;
            font-size: 3rem;
            margin-bottom: 0.5rem;
            color: #fff;

          }
          .progress {
            .bottom {
              width: 100%;
            }
          }
        }
      }
    }
  };
  .container-experience .small-icon {
    width: 216px;
  };

  // #title,
  // #experience,
  // #education,
  // #work-experience,
  // #skills,
  // // #project-1,
  // // #project-2,
  // // #project-3,
  // // #project-4,
  // // #project-5
  // {
  // display: none;
  // }
}


/* 
  if less than 526px and mobile requires 
  some more improvements than tablet 
  add here.
*/
@media only screen and(max-width: $mobile) {


  .badge-contact-md img {
    width: 50px;
  }

  /* title page */
  .about {
    h1 {
      font-size: 3.5rem;
    }
  }

  /* experience page */
  section.progress.left {
    padding: 0;
  }

  /* education section */
  .education-item {
    .course-list .course-item {
      h3 {
        font-size: 1.75rem;
      }
      p {
        font-size: 1.25rem;
      }
    }

    .title {
      font-size: 2.5rem;
    }
  }

  section {
    &#experience {
      .container-experience {
        .left {
          .stats {
            padding: 0;
          }
        }
        .right {
          .logos-container {
            width: unset;
            
          }
        }
      }
    }

    &#work-experience {
      .container {
        .work-items {
          .item {
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }

    &#contact {
      .container {
        .card {
          &.contact {
            .card.inner {
              width: 94%;
              margin: 0 auto 1rem;
            }
            .docker {
              width: 95%;
              .item {
                &:first-child {
                  display: none;
                }
                &:last-child {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  };
}


@media only screen and(max-width: 1200px) and(min-width: 725px) {
  section#project-1 .container .portfolio,
  section#project-2 .container .portfolio,
  section#project-3 .container .portfolio {
    flex-direction: row;
    flex-wrap: nowrap;

    .card {
      width: 50%;
      margin: 0.5rem;
      padding: 0;
    }
  }
  section#experience .container-experience .right {
    align-items: baseline;
  }
  section#experience .container-experience .right .logos-container {
    flex-direction: row;
  }
  /* project 4 */
  section#project-4 .container .project-images .image,
  section#project-5 .container .project-images .image {
    width: 50%;
  }

}


@media only screen and(max-width: 1600px) and(min-width: 1200px) {

  /* check other titles */
  section > .title {
    height: unset;
    padding: 1rem 0;
  }


  .header, .portfolio.left {
    width: 50%;
  }
  .header h2 {
    font-size: 4rem;
  }
  p {
    font-size: 1rem;
  }


#experience {
  .title {
    padding: 0;
    .about {
      h2 {
        padding: 0;
      }
    }
  }
  .container-experience  {
    .left {
      padding: 0;
      width: 80%;
      .about-description {
        padding: 0;
      }
    }
    .right {
      width: unset;
    }
  



  }
  .list-tools {
    .item {
      h2 {
        font-size: 1.75rem;
      }
    }
  }


  .logos-container {
    .logo {
      width: 75px;
      height: 75px;
    }
  }
}




  #education > .title {
    padding: 0;
  }
  #education {
    .about  {
      margin: 1rem 0;
      h2 {
        padding: 0px;
      }
    }
  }
  .container-education {

    padding: 0;
    .education-item {
      padding: 0 1rem;
      .title {
        font-size: 3rem;
      }
      .course-list {
        .course-item {
          h3 {
            font-size: 1.7rem;
          }
          p{
            font-size: 1rem;
          }
        }
      }
    }
  }




  .work-items {
    width: 100%;
    padding: 0 2rem;
    .item {
      padding: 0 0 0rem 3rem;
      p {
        font-size: 1.25rem;
      }
  

    } 
  }

  #work-experience .container {
    // column
    flex-direction: column;
    align-items: center;


    // project 1

    
  }
}
