<p>
    commentmodal works!
</p>
<!-- Modal Structure -->
<div id="comment-modal" class="modal">

    <nav class="blue darken-2">
        <div class="nav-wrapper">
            <ul class="left">
                <li>
                    <a href="#!" class="modal-action modal-close">
                        <i class="material-icons">arrow_back</i>
                    </a>
                </li>
                <li class="">
                    Comments
                </li>

            </ul>
        </div>
    </nav>

    <div class="modal-content">
        <div class="message-container">
            <img src="https://placeimg.com/640/480/any" alt="avatar" class="circle left" width="55" height="55">
            <div class="message">
                <div class="row">
                    <p class="col s12 comment">
                        <span class="user">Username</span> efjeiruoewiur</p>
                    <p class="grey-text lighten-1">20h</p>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer comment-footer">
        <!-- post form row -->
        <div class="row post-row">
            <div class="col s3 l2 offset-l1">
                <img class="circle" alt="avatar" src="https://placeimg.com/640/480/any" height="45" width="45">
            </div>
            <div class="col s6 l5 post-btn-container">
                <p class="post-modal-btn-text grey-text text-darken-1">
                    <input type="text" name="addcomment" id="addcomment" placeholder="Add a comment">
                </p>
            </div>
            <div class="col s2 offset-s1 l2 offset-l2 photo-icon grey-text text-darken-1">
                <p class="blue-text">Post</p>
            </div>
        </div>
    </div>
</div>