$primary-color: rgb(233, 71, 234);
$primary-gradient-color: linear-gradient(90deg, rgba(233, 71, 234, 1) 0%, rgba(143, 58, 161, 1) 35%, rgba(52, 174, 185, 1) 100%);
$secondary-color: #0000a3;
$secondary-gradient-color: linear-gradient(to bottom left, #0000a3, #40b1df);
$highlight-color: #40b0df;
$accent-color: #ffd53d;
$html-color: #e96228;
$css-color: #2760e8;
$js-color: #f6d636;
$email-color: #e34d42;
$linkedin-color: #0077b7;
$github-color: #161414;
$twitter-color: #50abf1;
$fade-in: fade-in 2s ease-in;
