$primary-color: #0c0c0c;

$facebook-color: #4267B2;
$twitter-color: #1DA1F2;
$youtube-color: #FF0000;
$instagram-color: #C13584;
$pinterest-color: #E60023;
$google-color: #F4B400;
$rss-color:  #E58738;
$email-color:  #2DA112;
$logo-color: #2aead3;

$primary-text: #2aead3;
$dark-text: #000;