$primary-color: #0c0c0c;


$socialmedia-colors: (
  "facebook": #4267B2,
  "twitter": #1DA1F2,
  "youtube": #FF0000,
  "instagram": #C13584,
  "pinterest": #E60023,
  "google": #F4B400,
  "rss": #E58738,
  "email": #2DA112,
  "logo": #2aead3,
  "snapchat": #FFFC00,
  "podcast": #8F35CB
);
/* need to map over */



/* make it for social media colors */
$facebook-color: #4267B2;
$twitter-color: #1DA1F2;
$youtube-color: #FF0000;
$instagram-color: #C13584;
$pinterest-color: #E60023;
$google-color: #F4B400;
$rss-color: #E58738;
$email-color: #2DA112;
$logo-color: #2aead3;
$podcast-color: #8F35CB;

$primary-text: #2aead3;
$dark-text: #000;
