@import "./variables";
@import "./general-style/general-styles.scss";
@import "./utilities/util";
@import "./nav/nav";;

.advert {
  position: fixed;
  z-index: -1000;
  width: 100%;
}




.container {
  width: 100%;
  // padding-right: 15px;
  // padding-left: 15px;
  margin: 0 auto;
  max-width: 1140px;
}


/*

Position and Layout

Display and Visibility

Clipping

Animation

Box Model (from outside in)

Background

Typography

Pseudo-classes & pseudo-elements (nested rules)
*/
