.grey-section {
    background-color: #f9f9f9;
}

.padded-container {
    padding: 40px 15px;
}

h3.section-header {
    color: #000;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    margin: 10px 0;
}

.searchform.large input {
    padding: 15px 15% 15px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.searchform input {
    outline: none;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15% 8px 18px;
    border: 2px solid rgba(25, 25, 25, .3);
    border-radius: 5px;
    background-color: #fff;
    background-image: url('/assets/img/search-solid.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    overflow: hidden;
    text-overflow: ellipsis;
}