.subheader {
  color: #888888!important;
  font-size: .9rem!important;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clear {
  clear: both;
}

.inline {
  display: inline;
}

.label {
  font-size: .8rem;
  padding-right: .5rem;
}