.about {
  background: #141414;
  color: #fff;
  padding-bottom: 3rem;
}


.bet-logo {
  background-color: #1e1e1e;
  height:120px;
  padding: 1rem;
}

.mute {
  font-size: 1.2rem;
  font-weight: 500;
}

.sub-title {
  color: rgb(143, 137, 137);
  margin: 0;
  font-size: 0.7rem;
}
.google-play, .spotify-badge {
  width: 139px;
  height: auto;
}


.section-header {
  header {
    text-align: center;
    color: #fff;
    position: relative;

    &.alt {
      color: #000;
    }

    h3 {
      padding: 0.75rem 0.5rem 0 0.5rem;
      margin: 0;
      font-size: 3rem;
    }
  }

  h2 {
    font-size: 2.25rem;
  }
}


.spotify-track {
  width: 100%;
}


.title {
  font-size: 1.8rem;
  font-weight: 400;
}

.top-header{
  color: #fff;
  text-align: center;
  h1 {
    margin: 0;
  }
}


#image {
  margin: 0 auto;
}

@media screen and (max-width: 500px) {

  .hide-sm {
    display: none!important;
  }
}

@media screen and (min-width: 300px) and (max-width: 1000px) {

  .hide-md {
    display: none!important;
  }
}

