<footer role="contentinfo" class="footer footer-default ">
    <div class="container">
        <nav class="row py-4">
            <div class="col-xs-12 col-md-4 col-social">
                <ul class="nav">
                    <li class="social-icon">
                        <a href="http://instagram.com/undreamtmayhem"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li class="social-icon">
                        <a href="https://twitter.com/undreamtmayhem">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="social-icon facebook">
                        <a href="https://www.facebook.com/undreamtmayhem">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="row">
            <div class="col-xs-9 col-md-7">
                <ul class="nav nav-bottom">
                    <li>
                        <a class="text-white" href="\">Legal</a>
                    </li>
                    <li>
                        <a class="text-white" href="\">Privacy</a>
                    </li>
                    <li>
                        <a class="text-white" href="\">Cookies</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 col-md-5 text-right">
                <small class="copyright">© 2018 UndreamtMayhem</small>
            </div>
        </nav>
    </div>
</footer>