:root {
    --body-bg-color: #ebeced;
    --body-font-family: "Lato", Arial, sans-serif;
    --search-border: 1px solid #ebeced;
    --story-avatar-border: 1px solid #ebeced;
    --post-border: 1px solid #ebeced;
    --card-border: 5px solid #ebeced;
}




/* profile page */









