 body {
            background: #ebeced;

        }

        header {
            background-image: url('https://placeimg.com/1280/480/arch');
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            padding: 2rem 0 !important;
        }

        #booknow .inner {
            padding: 1rem .25rem;
        }

        #about,
        #deals,
        #hotels {
            background-color: #fff;
            margin: 1rem;
        }

        .inner {
            background-color: white;

        }

        .fa-large {
            font-size: 27px;
        }

        body {
            height: 1vw;
        }