<ul id='dropdown1' class='dropdown-content collection'>
    <li class="collection-item avatar">
        <img src="https://placeimg.com/640/480/any" alt="avatar" class="circle">
        <p class="title notification-message">dfgdfgdfgfdgdfgdfgdfb
            <span>started following you.</span>
            <span>3w</span>
        </p>
        <button class="secondary-content btn blue">Follow</button>
    </li>
    <li class="collection-item avatar">
        <img src="https://placeimg.com/640/480/any" alt="avatar" class="circle">
        <p class="title notification-message">dfgdfgdfgfdgdfgdfgdfb
            <span>started following you.</span>
            <span>3w</span>
        </p>
        <button class="secondary-content btn blue">Follow</button>
    </li>
</ul>