nav {
  background-color: $navbar-bgcolor;
  box-shadow: none;

  &.top {
    padding: 0.5rem;
    margin-bottom: 2rem;
  }
  i.material-icons {
    height: auto;
    line-height: 40px;
  }
  
}

.nav-wrapper {
  display: flex;
  border-radius: 4px;
  background-color: $secondary-color;
  .hamburger {
    padding: 0.95rem 0.25rem;
  }
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  
  .links {
    display: flex;
    justify-content: center;
    height: 75px;
  }
}
nav a.sidenav-trigger i {
  height:64px;
  line-height:1;
 }

