/* Buttons */

.btn {
    text-decoration: none;
    color: #fff;
    margin-top: 0.6rem;
    border-radius: 5px;
    padding: 10px 25px;
    background-color: #000;
}
.btn.btn-primary {
    background-color: rgb(44, 160, 28);
}
.btn-outline {
    background: transparent;
    border: #fff 1px solid;

}
.btn-outline-secondary {
    background: transparent;
    color: #000;
    border: #000 1px solid;
}

/* Color themes */
.bg-primary {
    background: #fff;
    color: #000;
}
.bg-secondary {
    background: #f4f4f4;
    color: #000;
}
.bg-dark {
    background: #000;
    color: #fff;
}

/* structure */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 100%;
    max-width: 100%;
}

.flex-columns {
    display: flex;
    flex-direction: column;

}
.flex-columns.center {
  justify-content: center;
  text-align: center;
}

.flex-reverse {
    flex-direction: row-reverse;
}


.flex-items {
    display: flex;
    flex-direction: column;
}
.flex-items.center {
  justify-content: center;
  text-align: center;
}

.center-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}


i.icon {
    background-color:  var(--logo-bg);
    color: #fff;
    border-radius: 50%;
    padding: 15px;
}


/* responsive images */
.col-image img {
    width: 100%;
    max-width: 100%;
}
.img-responsive {
    width: 100%;
    max-width: 100%;
}


.thumbnail {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}
