@import "./custom/variables";

@import "node_modules/materialize-css/sass/materialize.scss";
@import "./custom/carousel";
@import "./custom/card";
@import "./custom/collections";
@import "./custom/defaults";
@import "./custom/modal";
@import "./custom/nav";
@import "./custom/util";

@import "./custom/pages/home";

/* other pages */
.song-slider .card-content {
  padding: 0.5rem;
}


.video-collection {
  border: 0px;
}


.video-collection .collection-item {
  background-color: transparent;
  border: 0px;


}

.music-collection .collection-item i {
  padding-right: 20px;

}

.container-box {
  position: relative;
  display: inline-block;
}

.genre-image {
  max-width: 100%;
}

.genre-tile {
  background-size: cover;
  background-color: rgba(4, 0, 100, 0.47);
  padding: 0rem!important;
}

.genre-tile .text-content {
  background-color: rgba(0, 0, 0, .69);
  height: 150px;

}



.album-cover img {
  height: 170px;
  margin: auto;
  width: 170px!important;
}

.album-title {
  margin: 0.5rem;
}

.album-title~p {
  margin: 0.75rem!important;
}

.song-title {
  padding-left: 5px;
  position: relative;
  top: -7px;

}