<!DOCTYPE html>
<html lang="en">

<head>
    <title>Semantic Store Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="./css/main.css">

</head>

<body class="pushable">
    <!-- Sidebar Menu -->
    <aside class="ui vertical inverted sidebar menu">
        <div class="item">
            <img class="ui mini image" src="http://placeimg.com/640/480/any">
        </div>
        <div class="item">
            <div class="ui icon input">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>
        <a class="active item" data-tab="home">
            <i class="home icon"></i> Home
        </a>
        <a class="item" data-tab="products">
            <i class="warehouse icon"></i> Products
        </a>
        <a class="item" data-tab="deals">
            <i class="money bill alternate outline icon"></i> Deals
        </a>
        <a class="item">
            <i class="shopping basket icon"></i> Stores
        </a>
        <a class="item">
            <i class="phone icon"></i> Contact
        </a>
        <a class="item">
            <i class="user icon"></i> Your Account
        </a>
        <a class="item">
            <i class="cart icon"></i> Cart
        </a>
    </aside>

    <main class="pusher">
        <nav class="ui vertical inverted masthead center aligned segment">
            <div class="ui large inverted secondary pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <div class="hide item">
                    <img class="ui mini image" src="/images/logo.png">
                </div>
                <a class="hide item header">
                    Online store
                </a>
                <div class="right menu">
                    <a class="item">
                        <i class="user icon"></i> Your Account
                    </a>
                    <a class="item">
                        <i class="cart icon"></i> Cart
                    </a>
                </div>
            </div>
        </nav>

        <section class="ui container">
            <div class="ui row panel">
                <div class="ui unstackable three steps">
                    <div class="step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">Shipping</div>
                        </div>
                    </div>
                    <div class="active step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">Billing</div>
                        </div>
                    </div>
                    <div class="step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">Confirm Order</div>
                        </div>
                    </div>
                </div>
                <div class="">
                    <h2 class="ui center aligned icon header">
                        <i class="circular cart icon"></i> Online Store
                        <div class="sub header">Mission, Vission & Values</div>
                    </h2>

                </div>

            </div>

            <div class="ui row">
                <div class="ui pointing menu additional-nav">
                    <a class="hide active item" data-tab="home">
                        Home
                    </a>
                    <a class="hide item" data-tab="products">
                        Products
                    </a>
                    <a class="hide item" data-tab="deals">
                        Deals
                    </a>
                    <div class="right menu">
                        <div class="item">
                            <div class="ui transparent icon input">
                                <input type="text" placeholder="Search...">
                                <i class="search link icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui tab active segment" data-tab="home">
                    <h2>Latest Deals</h2>
                    <div class="ui grid centered cards">
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>

                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>

                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>
                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="ui tab segment" data-tab="products">
                    <h2>Products</h2>
                    <div class="ui grid centered cards">
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>

                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>

                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>

                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui tab segment" data-tab="deals">
                    <h2>Deals</h2>
                    <div class="ui grid centered cards">
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>
                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>
                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                        <div class="ui red card">
                            <div class="content">
                                <div class="header">BLACK FRIDAY DEAL</div>
                            </div>
                            <a class="image" href="#">
                                <img src="http://placeimg.com/640/480/any">
                            </a>
                            <div class="content">
                                <a class="header" href="#">Buy 50 mobiles and get a gift card</a>
                                <div class="meta">
                                    <a>Last Seen 2 days ago</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="sixteen wide column">
                    <h4 class="ui inverted header">Online Store Copyright</h4>
                    <div class="ui form inverted">
                        <div class="inline fields">
                            <label>Subscribe</label>
                            <div class="field">
                                <input type="email" placeholder="xxx">
                            </div>
                            <button class="ui primary button">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <script>
        $(document)
            .ready(function() {
                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');
                $('.menu .item')
                    .tab();
            });
    </script>
</body>

</html>