doctype html
html
  
  include includes/head.pug
  body
    include includes/nav.pug

    div(class="tabs-content" data-tabs-content="example-tabs")
      h2 example
    footer(class="row text-center")
      div(class="small-12 large-12 columns")
        p Data from 
          a(href="https://darksky.net/poweredby/") darksky 
          App Creator UndreamtMayhem
    include includes/scripts.pug
  
  
