
$legends-bg: #643545 linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6))
repeat scroll 0% 0%;

$death-bg: #2c1f1c linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6))
repeat scroll 0% 0%;

$goodbye-bg: #443f3d linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6))
repeat scroll 0% 0%;

/* Albums container */

.discography {
  background: rgba(0, 0, 0, 0.8);
}


.albums {
  padding: 2rem 1rem;

  .album {
    margin-bottom: 1rem;

    .album__content {
      color: #fff;

      &.legends {
        background: $legends-bg;
      }

      &.death {
        background: $death-bg;
      }

      &.goodbye {
        background: $goodbye-bg;
      }

      .album__content__track {
        padding: 1rem;
        font-weight: bolder;
        p {
          margin: 0;
        }
        .listen {
          color: #fff;
          text-decoration: none;
          padding: 0 0.5rem;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .discography {
    padding: 0 3rem;
  }
  .albums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .album {
      padding-right: 1rem;
    }
  }
}