.card-play-music {
  background-color: #222326;
  box-shadow: 0px 0px;
  @extend .card;
  @extend .col;
  @extend .s12;
  @extend .m8;
  @extend .offset-m2;
  @extend .l6;
  @extend .offset-l3;

  .artist-play {
    display: flex;
    justify-content: space-between;
    .card-content {
      padding: 0.5rem;
    }
  }
  .music-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
    i {
      margin-right: 5px;
    }
  }
}

.music-card {
  @extend .card;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  .card-content {
    padding: 0rem 1.2rem;
    h5 {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
    p {
      color: #919496;
    }

    .album-title {
      margin: 0.5rem;
    }

    .album-title ~ p {
      margin: 0.75rem;
    }
  }

  .card-image {
    .artist-avatar {
      border-radius: 50%;
    }
  }

  .genre-tile {
    background-size: cover;
    background-color: rgba(4, 0, 100, 0.47);
    padding: 0;
    .text-content {
      background-color: rgba(0, 0, 0, 0.69);
      height: 150px;
    }
  }

  .album-cover {
    img {
      margin: auto;
      width: 170px;
    }
  }
}
