@mixin badge-contact($bg-color, $width) {

  margin-bottom: 2rem;
  img {
    width: $width;
    background-color: $bg-color;
    padding: 0.55rem;
    margin-right: 0.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  }
}

.badge-contact-sm {
  @include badge-contact(#fff, 50px)
}

.badge-contact-md {
  @include badge-contact(#fff, 100px)
}

.badge-contact-lg {
  @include badge-contact(#fff, 200px)
}