<app-carousel></app-carousel>
<app-search></app-search>
<!-- MAKE AS COMPONENTS -->
<section>
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <h3 class="ani fadeInUp header">
                        What will you discover
                    </h3>
                    <div class="ani fadeInUp">
                        <h3>
                            Albums
                        </h3>
                        <p>
                            You’ll find all the albums you love and get your mood going.
                        </p>
                    </div>
                    <div class="ani fadeInUp">
                        <h3>
                            Tracks
                        </h3>
                        <p>
                            There are millions of songs information in our database. Discover new tracks, find your favorite and build the perfect collection.
                        </p>
                    </div>
                    <div class="ani fadeInUp">
                        <h3>
                            Artists
                        </h3>
                        <p>
                            Find your favorite artists and discover their albums.
                        </p>
                    </div>
                </div>

                <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-0 ani  fadeInUp">
                    <div class="albums clearfix ani  fadeInUp">
                        <div>
                            <img src="assets/img/albumcover.jpg" class="img-fluid album-art" style="display: block;">
                        </div>
                        <div>
                            <img src="assets/img/albumcover.jpg" class="img-fluid album-art" style="display: block;">
                        </div>
                        <div>
                            <img src="assets/img/albumcover.jpg" class="img-fluid album-art" style="display: block;">
                        </div>
                        <div>
                            <img src="assets/img/albumcover.jpg" class="img-fluid album-art" style="display: block;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light py-4">
    <div class="devices">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="ani  fadeInUp">
                        <h4 class="mb-4 text-dark">
                            No matter what device. You can search your favorite tracks, artist, albums anywhere.
                        </h4>
                    </div>
                    <div class="ani fadeInUp">
                        <ul class="device-list">
                            <li>Mobile</li>
                            <li>Computer</li>
                            <li>Tablet</li>
                        </ul>
                        <ul class="device-list">
                            <li>
                                <a id="playstation-text-link" href="/">PlayStation
                  <sup>®</sup>
                </a>
                            </li>
                            <li>
                                <a id="xbox-text-link" href="/">Xbox</a>
                            </li>
                            <li>
                                <a id="tv-text-link" href="/">TV</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-0 ani fadeInUp">
                    <img class="center-block img-devices img-fluid" src="assets/img/devices.jpg" alt="One account. Listen everywhere.">
                </div>
            </div>
        </div>
    </div>
</section>