.albums {
    margin: 40px -15px 0;
}

.album-art {
    position: relative;
    float: left;
    width: 50%;
    height: 50%;
}

.call-to-action {
    margin: 5% 0%;
}

.call-to-action .header {
    font-weight: 800;
    margin: 0 0 2rem 0;
}

.device-list {
    float: left;
    width: 50%;
}

.device-list li {
    list-style-type: none;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.device-list a {
    color: #f36f7e;
}