@import "./custom/variables";

@import "node_modules/materialize-css/sass/materialize.scss";

@import "./custom/defaults";
@import "./custom/dropdown";
// // @import "./custom/buttons";
@import "./custom/card";
// @import "./custom/grid";
@import "./custom/collections";
@import "./custom/form";
@import "./custom/modal";
// @import "./custom/nav";
// @import "./custom/tabs";
@import "./custom/util";

@import "./custom/pages/home";



 $body-bg-color: #ebeced;
 $body-font-family: "Lato", Arial, sans-serif;
 $search-border: 1px solid #ebeced;
 $story-avatar-border: 1px solid #ebeced;
 $post-border: 1px solid #ebeced;
 $card-border: 5px solid #ebeced;



