.form-container {
  background-image: url("https://placeimg.com/1280/480/arch");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  padding: 2rem 0 !important;
  .inner {
    padding: 1rem 0.25rem;
    background-color: white;
  }

}
.main-form {
  background-color: #fff;
  padding: 1rem;
}
